body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    width: 960px;
}

header {
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 3px solid #cccccc;
}

.header-center {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#header-name {
    background-color: #4aaaa5;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

section {
    background-image: url("../images/bo.png");
    height: 100%;
    padding-top: 30px;
}

#my-pic {
    float: left;
    padding: 0 20px;
}

#about-me {
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main-content {
    background-color: white;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
footer {
    background-color: #666666;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}