body header {
    background: linear-gradient(black 90%, white);
    height: 25em;
    color: white;
    text-align: center;
}

body header div#top {
    display: flex;
    height: 2.5em;
    justify-content: flex-end;
    padding: 0px;
    margin-right: 0px;
}

body header div#top button.btn {
    color: white;
    text-align: center;
    /* position: absolute;
    float: right;
    clear: right;
    top: 0;
    right: 0; */
    width: 7em;
    background-color: black;
    border-left: solid 1px white;
}

body header img {
    height: 16.5em;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5em;
}


body header div#portfolio-Header, div#contact-Header {
    padding-top: 2.5em;
    height: 2.5em;
}

body header div#portfolio-Buttons, div#contact-Buttons {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

body header div#portfolio-Buttons button.btn, div#contact-Buttons button.btn {
    color: white;
    text-align: center;
    font-size: 1.5em;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    width: 7em;
    background-color: black;
}


body section {
    height: 30em;
}

section#portfolio-Section div#list-Projects p:hover {
    color: blue;
}

/* section#portfolio-Section div.displayProject {
    border-left: solid .5em black;
} */



body footer {
    height: 4em;
    background: linear-gradient(white, black);
    width: 100%;
}

/* body footer div#right {
    height: 4em;
    float: left;
    width: 30%;
    background: linear-gradient(black, white 70%);
    background-size: 100% .8em;
} */

/* Full Scrren Mode */
@media only screen and (min-width: 1369px) {
    section#portfolio-Section div#list-Projects {
        overflow: auto;
        font-size: 1.8em;
        border-right: solid .3em black;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    section#portfolio-Section div.displayProject button.buttonShowProject {
        margin-right: 35%;
        margin-left: 6em;
        margin-top: 3em;
        margin-bottom: 3em;
        float: left;
        border: solid 1px black;
        background-color: aqua;
    }
    
    section#portfolio-Section div.displayProject img {
        float: right;
        margin-right: 3em;
    }
    
    section#portfolio-Section div.displayProject span {
        float: left;
    }
}

/* Smaller than HD, remove the image in .displayProject */
@media only screen and (min-width: 992px) and (max-width: 1369px) {
    section#portfolio-Section div#list-Projects {
        overflow: auto;
        font-size: 1.8em;
        border-right: solid .3em black;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    section#portfolio-Section div.displayProject button.buttonShowProject {
        margin-right: 35%;
        margin-left: 6em;
        margin-top: 3em;
        margin-bottom: 3em;
        float: left;
        border: solid 1px black;
        background-color: aqua;
    }
    
    section#portfolio-Section div.displayProject img {
        display: none;
    }
    
    section#portfolio-Section div.displayProject span {
        float: left;
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    section#portfolio-Section div#list-Projects {
        overflow: auto;
        font-size: 1.8em;
        border-right: solid .3em black;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    section#portfolio-Section div.displayProject button.buttonShowProject {
        display: none;
    }
    
    section#portfolio-Section div.displayProject img {
        display: none;
    }
    
    section#portfolio-Section div.displayProject span {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    section#portfolio-Section div#list-Projects {
        overflow: auto;
        font-size: 1em;
        border-right: solid .3em black;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    section#portfolio-Section div.displayProject {
        display: none;
    }
}
